/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--dark-color-a: #345c0c;
	--dark-color-b: #054603;
	--light-color: #d1edb4;
	--success-color: #06530c;
	--error-color: #d9534f;
}
*{
  box-sizing: border-box;

}

.main{
  transition: filter 0ms ease-in-out 0ms;
}
body {
  font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: var(--light-color);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }


  h1 {
    background: #45702c;
    background: -webkit-linear-gradient(to right, #063d06, #1b9845, #075311);
    background: linear-gradient(to right, #063d06, #1b9845, #075311);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: #45702c;
    background: -webkit-linear-gradient(to right,  #063d06, #1b9845, #075311);
    background: linear-gradient(to right, #063d06, #1b9845, #075311);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
  background: #2d6121; /* Darker shade of green */
  background: -webkit-linear-gradient(to right, #063d06, #1b9845, #075311); /* Gradient from dark to light green */
  background: linear-gradient(to right, #063d06, #1b9845, #075311);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#rightPart {
	max-width: 1100px;
	background: var(--light-color);
	margin: 30px auto;
	overflow: hidden;
}



  #leftPart, #middlePart, #rightPart {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #leftPart {
    display: flex;
    flex-direction: column;
  }
  
  #userList {
    flex-grow: 1;
  }
  
  #roomControls, #roomCode {
    margin-top: 20px;
  }
  
  #roomControls button {
    background-color: #4caf50; /* Green color for buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px; /* Added margin to create space between buttons */
  }
  
  #middlePart {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #countdown,
  #wordToGuess {
    display: inline-block;
  }
  
  canvas {
    border: 1px solid #ccc;
  }
  
  #drawTools {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  #rightPart {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .msgBox {
    flex-grow: 1;
    padding: 1px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .msgBox .msgs{
    font-size: 18px;
    padding: 1px;
	margin-bottom: 3px;
	background-color: var(--light-color);
	border-radius: 2px;
	overflow-wrap: break-word;
  }

  .msgBox .msgs .meta{
    font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom:2px;
  }
  
  /* .msgs {
    /* margin-bottom: 2px; */
    /* padding: 1px; */
    /* background-color: #f9f9f9; */
    /* border-radius: 8px; */
  /* }  */

  .msgBox .msgs .meta span {
    color: #912626;
  }
  
  .msgInputs {
    padding: 2px 4px;
    background-color: var(--dark-color-a);
  }
  
  .msgInputs form {
    display: flex;
  }
  
  .msgInputs input[type='text'] {
    font-size: 11px;
    padding: 6px;
    /* height: 10px; */
    flex: 2;
  }

  .body.active-popup .leftPart {
    filter: blur(5px); /* Apply a blur filter */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    transition: filter 0ms ease-in-out 0ms; /* Smooth transition for the filter */
  }
  
  .popup{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    font-style: italic;
    transition: top 0ms ease-in-out 0ms,
             opacity 300ms ease-in-out,
             margin-top 300ms ease-in-out;
             
}



#timer {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  color: #000000;
  font-style: italic;
}

#TimerBig{
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; 
}

.popup > *{
  margin: 15px 0px;
}

.popup .close-btn{
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #eee;
  color: #111;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}


body.active-popup{
  overflow: hidden;
}



body.active-popup .popup{
  top : 50%;
  opacity: 1;
  margin-top: 0px;
  transition: top 0ms ease-in-out 0ms,
             opacity 300ms ease-in-out,
             margin-top 300ms ease-in-out;

}